
  .scanner-frame {
    position: absolute;
    border: 2px solid red;    
  }
  .vidcen{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vid{
    border: 2px solid green;  
    
  }

 .wrapper {
  min-height: 100%;
}

@media (max-width: 350px) {
  .scanner-frame {
    height: 10%;
    width: 25%;
  }
  .vid {
    height: 10%;
    width: 50%;
  }
}

@media (max-width: 567px) {
  .scanner-frame {
    height: 15%;
    width: 25%;
  }
  .vid {
    height: 30%;
    width: 50%;
  }
}

@media (aspect-ratio: 2/1) {
  .scanner-frame {
    height: 50%;
  }
  .vid {
    height: 100%;
  }
}

@media (min-width: 568px) {
  .scanner-frame {
    margin-top: 1%;
    height: 20%;
    width: 25%;
  }
  .vid {
    margin-top: 1%;
    height: 50%;
    width: 50%;
  }
}
  @media (min-width: 868px) {
    .scanner-frame {
      margin-top: 1%;
      height: 30%;
      width: 25%;
    }
    .vid {
      margin-top: 1%;
      height: 50%;
      width: 50%;
    }
}